.msg {
  @keyframes msgRunProgress {
    0% {
      width: 0%;
      background-color: #fff4;
    }
    100% {
      width: 100%;
      background-color: #fff;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: translateY(0px);
    }
    99% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 0;
    }
  }
  &frame {
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 5;
    width: 400px;
  }
  &progress {
    position: absolute;
    bottom: 2px;
    left: 15px;
    border-radius: 2px;
    width: 0;
    max-width: 344px;
    height: 4px;
    background-color: #fffa;
  }
  &item {
    display: flex;
    align-items: center;
    min-height: 64px;
    position: relative;
    margin: 16px;
    padding: 8px 8px 5px;
    color: var(--color-primary);
    border-radius: 8px;
    & svg {
      fill: #fff;
      width: 26px;
      height: 26px;
    }
    & .context {
      padding: 0 4px;
    }
    &.fade {
      animation: fadeOut 3.8s linear forwards;
      .msgprogress {
        animation: msgRunProgress 3.5s linear forwards 0.5s;
      }
    }
    &.default {
      background-color: var(--color-msg-default);
    }
    &.info {
      background-color: var(--color-msg-info);
    }
    &.success {
      background-color: var(--color-msg-success);
    }
    &.warning {
      background-color: var(--color-msg-warning);
    }
    &.error {
      background-color: var(--color-msg-error);
    }
  }
}
