.header {
  position: relative;
  box-sizing: border-box;
  min-height: 56px;
  padding: 0px 32px;
  background: var(--color-head);
  color: var(--color-primary);
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;

  & .logo,
  .search,
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
  }

  & .logo {
    flex-grow: 1;
    flex-shrink: 2;
    & .link {
      display: inline-flex;
      align-items: center;
      margin-right: var(--padding);
    }
  }
  & .search {
    flex-grow: 2;
    flex-shrink: 1;
    justify-content: center;
    & .input {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: stretch;
      width: 400px;
      border: 1px solid var(--color-border);
      border-radius: 8px;
      overflow: hidden;
      & .btn {
        padding: 3px 4px;
        background-color: var(--color-border);
        &:disabled {
          cursor: not-allowed;
          color: var(--color-primary) !important;
          background-image: none !important;
          background-color: var(--color-border) !important;
        }
      }
    }
    & input {
      box-sizing: border-box;
      padding: 4px 12px;
      line-height: 1;
      width: 100%;
      border: 0;
      border-radius: 0;
    }
  }
  & .menu {
    flex-grow: 1;
    flex-shrink: 2;
    justify-content: end;
  }

  svg {
    display: inline-block;
    overflow: visible !important;
    vertical-align: middle;
  }

  &:after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom, #111, transparent);
    height: 10px;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
  }
  // @media screen and (max-width: 576px) {
  //   & {
  //     padding-left: 16px;
  //     padding-right: 16px;
  //   }
  // }
}
