.section {
  // justify-content: space-between;
  box-sizing: border-box;
  margin: 0px 32px;
  white-space: nowrap;
  align-items: center;
  color: var(--color-primary);
}

.title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12px;
}

.row {
  display: flex;
  margin: 0 -6px;
  overflow: hidden;
}
